*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Irish Grover', sans-serif;
}
.cabecalho {
    background-color: #385458;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.filmes{
    background: linear-gradient(180deg, #385458 0%, #4EE9D6 100%);
    padding: 24px 0;
}
.filme-imagem{
    width: 180px;
}

.filme-div{
    text-align: center;
    padding: 10px 0;
}

.filme-titulo{
    color: #FFEE53;
    font-family: 'Rakkas';
    text-align: center;
    font-size: 48px;
    padding: 50px 0;
}

.filme-todos{
    color: #FFEE53;
    justify-content: center;
    display: grid;
    font-size: 20px;
    grid-template-columns: 20% 20% 20%;
}

.cidade-imagem{
    width: 200px;
}

.cidade-div{
    color: white;
    text-align: center;
    padding: 10px 0;
}

.cidade-titulo{
    color: #FFEE53;
    font-family: 'Rakkas';
    text-align: center;
    font-size: 48px;
    padding: 50px 0;
}

.cidade-todos{
    display: grid;
    font-size: 24px;
    font-family: 'Libre Baskerville';
    justify-content: center;
    border-radius: 50px;
    grid-template-columns: 20% 20% 20%;
}
.rodape{
    background-color: #0E5E69;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}